.full-width{
    width: 100%;
}

.last-minutes{
  color: red;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

label.form-control[readonly]{
	background-color: white;
	border: none;
}

input[type="radio"] + span.glyphicon-ok,
input[type="checkbox"] + span.glyphicon-ok {				
	opacity: 0;				
} 

input[type="radio"]:checked + span.glyphicon-ok,
input[type="checkbox"]:checked + span.glyphicon-ok{				
	opacity: 1;				
}

.margin-top {
    margin-top: 10px;
}

.margin-left-xs {
    margin-left: 5px;
}

.user-text-answer {
    background: #337ab7;
    border: 1px solid #ddd;
}

.correct-text-answer {
    background: #5cb85c;
    border: 1px solid #ddd;
}

.completed {
    background: #ccc;
}

.input-group > .input-group-btn:not(:first-child):not(:last-child) > button {
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px ;
   border-radius: 0px;
}

.quiz-content {
    height:85vh;
}

.question-content {
    height:60vh;
    overflow-y: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.full-height {
    height:100%;
}

.glyphicon-none:before {
	content: "\2122";
	color: transparent !important;
}

.terms-panel-body {
    height: 170px;
    overflow-y: scroll;
}

.word-wrap {
    word-wrap: break-word;
}