<header class="col-xs-12">
    <h5 class="text-center ">Comms Quiz v@@projectversion@@</h5>
</header>
<div ui-view></div>
<footer class="col-xs-12">
    <div class="text-center">&copy; Copyright 2016, Spitfire Team</div>
</footer>