<div class="col-xs-12 question-content">
	<h4>{{$ctrl.question.text}}</h4>
	<ul class="list-group checked-list-box word-wrap">
		<div ng-if="$ctrl.question.type == 'multi'">
			<li ng-repeat="answer in $ctrl.question.answers" class="list-group-item" ng-class="{'active' : answer.selected == true}">
				<input type="checkbox" ng-model="answer.selected"
					   name="option_{{answer.id}}" value="{{answer.id}}"/>
				{{answer.text}}
			</li>
		</div>
		<div ng-if="$ctrl.question.type == 'single'">
			<li ng-repeat="answer in $ctrl.question.answers" class="list-group-item" ng-class="{'active' : $ctrl.question.singleChoice == answer.id}">
				<input type="radio" ng-model="$ctrl.question.singleChoice" maxlength="25"
					   name="option" value="{{answer.id}}"/>
				{{answer.text}}
			</li>
		</div>
		<div ng-if="$ctrl.question.type == 'text'">
			<input type="text" ng-model="$ctrl.question.answerText" maxlength="100"/>
		</div>
	</ul>
</div>