<div class="col-xs-12">
	<div>Congratulations!</div>
	<div>Stay tuned! The results will be announced soon!</div>
	<button class="btn btn-md btn-danger margin-top pull-left" ng-click="$ctrl.goStart()">Main Menu</button>
	<button class="btn btn-md btn-danger margin-top pull-right" ng-click="$ctrl.doLogout()">Logout</button>
</div>	