<div>
	<form name="loginForm" class="form-signin">
		<h4 class="form-signin-heading">Please sign in:</h4>
	    <div class="input-group">
            <input type="input"  id="email" name="userName" ng-model="userName" class="form-control" placeholder="name.surname" required="" autofocus="">
            <span class="input-group-addon">@db.com</span>
        </div>
		<button type="button" class="btn btn-md btn-primary btn-block" ng-click-debounced="$ctrl.onGetToken(userName)">
			Get token
		</button>
		<!-- ng-disabled="!loginForm.userEmail.$valid" -->
	</form>
</div>
