<div>
    <div class="modal-header" ng-class="data.headerClass">
        <h3 class="modal-title">{{data.title}}</h3>
    </div>
    <div class="modal-body">
        <div class="panel panel-info">
            <div class="panel-heading">
                By clicking "Confirm" I agree that:
                <br/>
                &bull; I have read and accepted the terms below.
            </div>
            <div class="panel-body terms-panel-body">
                <p ng-repeat="message in data.messages" >
                    {{message}}
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-show="data.confirmButton" class="btn btn-default" type="button" ng-click="ok()">
            <span ng-if="data.okIcon" class="glyphicon" ng-class="data.okIcon"></span>
            {{data.confirmButton}}
        </button>
        <button ng-show="data.cancelButton" class="btn btn-default" type="button" ng-click="cancel()">
            <span ng-if="data.cancelIcon" class="glyphicon" ng-class="data.cancelIcon">
            </span>{{data.cancelButton}}
        </button>
    </div>
</div>