<div class="input-group">
    <span class="input-group-btn">
        <label class="btn btn-success" title="Check/Uncheck as Correct Answer">
            <input ng-if="$ctrl.questionType == 'multi'"
                   type="checkbox" class="hidden" name="options"
                   value="{{$ctrl.answer.id}}"
                   ng-model="$ctrl.answer.selected"/>

            <input ng-if="$ctrl.questionType == 'single'"
                   type="radio" class="hidden" name="option"
                   value="{{$ctrl.answer.id}}"
                   ng-model="$ctrl.singleChoice"/>
            <span class="glyphicon glyphicon-ok"></span>
        </label>
    </span>
    <input type="text" class="form-control" ng-model="$ctrl.answer.text" maxlength="200"/>
    <span class="input-group-btn">
        <button ng-click="$ctrl.deleteAnswer($ctrl.answer)" class="btn btn-danger" title="Delete Answer">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </span>
</div>