<h4>Administrators:</h4>

<div ng-if="$ctrl.administrators.length == 0">There is no other administrator</div>

<div class="row col-xs-12" ng-if="$ctrl.administrators.length > 0" ng-repeat="administrator in $ctrl.administrators">
    <div class="input-group">
        <span class="input-group-addon full-width">{{administrator.name}}</span>
        <span class="input-group-btn">
            <button class="btn btn-danger" title="Remove Administrator" ng-click="$ctrl.removeAdministrator(administrator.username)" ng-disabled="{{administrator.isCurrentUser}}">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </span>
    </div>
</div>
<div class="row col-xs-12 margin-top">
    <div class="input-group">
        <div class="input-group-btn">
            <button class="btn btn-primary" title="Add Administrator" ng-click="$ctrl.addAdministrator(username)">
                Add Administrator
            </button>
        </div>
        <input type="input" name="username" ng-model="username" class="form-control" placeholder="name.surname" required="">
        <span class="input-group-addon">@db.com</span>
    </div>
</div>

