<h4>Active Quizzes:</h4>

<div ng-if="$ctrl.quizzes.length == 0">There are no ready quizzes</div>

<div class="row col-xs-12" ng-if="$ctrl.quizzes.length > 0" ng-repeat="quiz in $ctrl.quizzes">
    <div class="input-group">
        <span class="input-group-addon full-width">{{quiz.name}}</span>
        <span class="input-group-addon" ng-if="quiz.remainingSeconds > 0">
            Still active for: {{quiz.remainingSeconds | secondsToMmSs}}
        </span>
        <span class="input-group-btn">
            <button class="btn btn-success" title="Calculate scores"
                    ng-click="$ctrl.calcScores(quiz.id)"
                    ng-disabled="quiz.remainingSeconds > 0">
                Calculate Scores
            </button>
        </span>
    </div>
</div>