<div>
    <div class="modal-header" ng-class="data.headerClass">
        <h3 class="modal-title">{{data.title}}</h3>
    </div>
    <div class="modal-body">
        <p ng-repeat="message in data.messages" >
            {{message}}
        </p>
        <div ng-if="data.isAnswerModal">
            <answer-info></answer-info>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-show="data.confirmButton" class="btn btn-default" type="button" ng-click="ok()">
            <span ng-if="data.okIcon" class="glyphicon" ng-class="data.okIcon"></span>
            {{data.confirmButton}}
        </button>
        <button ng-show="data.cancelButton" class="btn btn-default" type="button" ng-click="cancel()">
            <span ng-if="data.cancelIcon" class="glyphicon" ng-class="data.cancelIcon">
            </span>{{data.cancelButton}}
        </button>
    </div>
</div>