<div class="pull-right">
    <button class="btn btn-md btn-danger text-center" ng-click="$ctrl.doLogout()">Logout</button>
</div>
<div class="col-xs-12">
    <uib-tabset active="activeTabIndex">
        <uib-tab index="0" heading="Draft" ui-sref=".draft"></uib-tab>
        <uib-tab index="1" heading="Ready" ui-sref=".ready"></uib-tab>
        <uib-tab index="2" heading="Active" ui-sref=".active"></uib-tab>
        <uib-tab index="3" heading="Completed" ui-sref=".completed"></uib-tab>
        <uib-tab index="4" heading="Admin" ui-sref=".administrators"></uib-tab>
    </uib-tabset>

    <div class="tab-content">
        <div ui-view></div>
    </div>
</div>
