<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Statistics for: {{$ctrl.model.quizName}}</h4>
            <div class="btn-group pull-right" role="group">
                <button class="btn btn-primary" title="Download Statistics" ng-click="$ctrl.downloadStatistics()">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    &nbsp; Statistics
                </button>
                <button class="btn btn-primary" title="Download Quiz Q&A" ng-click="$ctrl.downloadQuizQA()">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    &nbsp; Quiz Q&A
                </button>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>Question</th>
                    <th>Correct Answer Percentage</th>
                </tr>
                </thead>
                <tr ng-repeat="question in $ctrl.model.questionStatistics">
                    <td>{{question.question}}</td>
                    <td>{{question.percentage | number: 2}}%</td>
                </tr>
            </table>
        </div>
    </div>
    <button class="btn btn-sm btn-primary text-center" ui-sref="manage.completed">Back</button>
</div>