<h4>Completed Quizzes: </h4>

<div ng-if="$ctrl.quizzes.length == 0">There are no complete quizzes</div>

<div class="row col-xs-12" ng-if="$ctrl.quizzes.length > 0" ng-repeat="quiz in $ctrl.quizzes">
    <div class="input-group">
        <span class="input-group-addon full-width">{{quiz.name}}</span>
        <span class="input-group-btn">
            <button class="btn btn-success" title="Show Statistics" ng-click="$ctrl.showStatistics(quiz.id)">
                Show Statistics
            </button>
        </span>
        <span class="input-group-btn">
            <button class="btn btn-success" title="Show Scorers" ng-click="$ctrl.showScores(quiz.id)">
                Show Scores
            </button>
        </span>
    </div>
</div>
