<p>
    <span class="glyphicon glyphicon-ok-sign text-success"></span>
    <label>Correct Answer</label>
</p>
<p>
    <span class="glyphicon glyphicon-remove-sign text-danger"></span>
    <label>Wrong User Answer</label>
</p>
<p>
    <span class="glyphicon glyphicon-exclamation-sign text-danger"></span>
    <label>Missed Correct Answer</label>
</p>
