<div class="col-xs-12 question-content">
    <h4>{{$ctrl.question.text}}</h4>
    <ul class="list-group word-wrap">
        <div ng-if="$ctrl.question.type == 'single' || $ctrl.question.type == 'multi'">
            <li ng-repeat="answer in $ctrl.question.answers" class="list-group-item" ng-class="$ctrl.getAnswerClass($index)">
                <span ng-class="$ctrl.getIconClass($index)"></span>
                <span>{{answer.text}}</span>
            </li>
        </div>
        <div ng-if="$ctrl.question.type == 'text'">
            <li class="list-group-item alert alert-success">
            	<span class="glyphicon glyphicon-ok-sign"></span>
                <span>{{$ctrl.question.correctText}}</span>
            </li>
            <li ng-if="$ctrl.question.answerText !== null" class="list-group-item alert alert-danger">
               	<span class="glyphicon glyphicon-remove-sign"></span>
                <span>{{$ctrl.question.answerText}}</span>
            </li>
        </div>
    </ul>
</div>