<div ng-if="!$ctrl.loading">
	<label class="col-xs-6 text-left">{{$ctrl.userName}}</label>
    <label class="col-xs-6 text-right" ng-class="{'last-minutes' : remainingSeconds < 60}">{{$ctrl.quiz.remainingSeconds | secondsToMmSs}}</label>
	<hr/>
	<quiz-pager current-question-number="currentQuestionNumber" number-of-questions="$ctrl.questions.length"
            read-only="false"></quiz-pager>
	<question-view question="$ctrl.questions[currentQuestionNumber]"></question-view>
	<div class="col-xs-12 text-center">
		<button class="btn btn-md btn-danger pull-left" ui-sref="menu">Main Menu</button>
		<button class="btn btn-md btn-danger pull-right" ng-click="$ctrl.doLogout()">Logout</button>
	</div>
</div>