<form class="form-horizontal col-lg-10 col-lg-offset-1 col-xs-12">
    <div class="col-xs-12">
        <div class="form-group panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Quiz</h4>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="inputQuizName" class="col-md-2 col-xs-3 control-label">Quiz name</label>
                        <div class="col-md-10 col-xs-9">
                            <input id="inputQuizName" type="text" ng-model="$ctrl.quiz.name" class="form-control" maxlength="100" placeholder="Quiz name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputQuizDuration" class="col-md-2 col-xs-3 control-label">Quiz duration (minutes)</label>
                        <div class="col-md-10 col-xs-9">
                            <input id="inputQuizDuration" type="text" ng-model="$ctrl.quiz.duration" class="form-control" maxlength="3" placeholder="Quiz duration (minutes)"/>
                        </div>
                    </div>
                </div>
                <div>
                    <button ng-click="$ctrl.addNewQuestion()" class="btn btn-sm btn-primary" title="Add Question">Add Question</button>
                </div>
                <div class="margin-top">
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left text-center" style="padding-top: 7.5px;">Question <b>{{currentQuestionNb + 1}} / {{$ctrl.questions.length}}</b></h4>
                            <button ng-click="$ctrl.goToQuestion(currentQuestionNb-1)" ng-disabled="currentQuestionNb < 1"
                                    class="btn btn-sm btn-info pull-left margin-left-xs"
                                    title="Previous Question"
                                    >&lt</button>
                            <button ng-click="$ctrl.goToQuestion(currentQuestionNb+1)" ng-disabled="currentQuestionNb >= $ctrl.questions.length-1"
                                    class="btn btn-sm btn-info pull-left margin-left-xs"
                                    title="Next Question"
                                    >&gt</button>
                            <button ng-click="$ctrl.onRemoveQuestion()" class="btn btn-sm btn-danger pull-right" title="Delete question">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                        <div class="panel-body bg-info">
                            <edit-question question="$ctrl.questions[currentQuestionNb]"></edit-question>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 form-group">
                    <button class="btn btn-sm btn-danger text-center" ui-sref="manage.draft" title="Back to Draft Quizzes">Back</button>
                    <button ng-click="$ctrl.saveQuiz()" class="btn btn-sm btn-primary text-center" title="Save Quiz">Save Quiz</button>
                </div>
            </div>
        </div>
    </div>
</form>