<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Scores for: {{$ctrl.model.quizName}}</h4>
            <div class="btn-group pull-right" role="group">
                <button class="btn btn-primary" title="Download High Scorers" ng-click="$ctrl.downloadHighScorers()">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    &nbsp; High Scorers
                </button>
                <button class="btn btn-primary" title="Download Scores" ng-click="$ctrl.downloadScores()">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    &nbsp; Scores
                </button>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tr ng-repeat="user in $ctrl.model.userScores">
                    <td>{{$index + 1}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.score | number: 2}}%</td>
                </tr>
            </table>
        </div>
    </div>
    <button class="btn btn-sm btn-primary text-center" ui-sref="manage.completed">Back</button>
</div>