<h4>Ready Quizzes:</h4>

<div ng-if="$ctrl.quizzes.length == 0">There are no ready quizzes</div>

<div class="row col-xs-12" ng-if="$ctrl.quizzes.length > 0" ng-repeat="quiz in $ctrl.quizzes">
    <div class="input-group">
        <span class="input-group-btn">
            <button type="button" class="btn btn-danger" title="Back to Draft" ng-click="$ctrl.setDraft(quiz.id)">
                Back to Draft
            </button>
        </span>
        <span class="input-group-addon full-width"/>{{quiz.name}} - duration: {{quiz.duration}} (min)</span>
        <span class="input-group-btn">
           <button type="button" class="btn btn-success" title="Activate" ng-click="$ctrl.onSetActive(quiz.id)">
               Activate
           </button>
        </span>
    </div>
</div>