<h4>Draft Quizzes : </h4>

<div ng-if="$ctrl.quizzes.length == 0">There are no draft quizzes</div>

<div class="row col-xs-12" ng-if="$ctrl.quizzes.length > 0" ng-repeat="quiz in $ctrl.quizzes">
    <div class="input-group">
        <span class="input-group-btn">
            <button type="button" class="btn btn-danger" title="Delete Quiz" ng-click="$ctrl.onDeleteQuiz(quiz.id)">
                Delete
            </button>
        </span>
        <span class="input-group-addon full-width"/>{{quiz.name}}</span>
        <span class="input-group-btn">
           <button type="button" class="btn btn-primary" title="Edit Quiz" ng-click="$ctrl.editQuiz(quiz.id)">
               Edit
           </button>
        </span>
        <span class="input-group-btn">
           <button type="button" class="btn btn-success" title="Set Quiz as Ready" ng-click="$ctrl.setReady(quiz.id)">
               Set as Ready
           </button>
        </span>
    </div>
</div>

<button ng-click="$ctrl.addQuiz()" class="btn btn-sm btn-primary text-center margin-top" title="Add New Quiz">Add New Quiz</button>