<div class="panel panel-primary full-height" ng-if="!$ctrl.loading">
    <div class="panel-heading">Quizzes:</div>
    <div class="panel-body question-content">
        <div class="list-group">
            <a ui-sref="quiz({quizId:{{quiz.id}}})" class="list-group-item active" ng-repeat="quiz in $ctrl.quizzes" ng-if="quiz.status != 'COMPLETED'">
                Start: {{quiz.name}} - Time left: {{quiz.remainingSeconds | secondsToMmSs}}
            </a>
            <a ui-sref="answers({quizId:{{quiz.id}}})" class="list-group-item completed" ng-repeat="quiz in $ctrl.quizzes" ng-if="quiz.status == 'COMPLETED'">
                Results: {{quiz.name}} - Score: {{quiz.score}}
            </a>
            <div ng-if="$ctrl.quizzes.length < 1">
                <label>For the moment there are no active or completed quizzes.</label>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-md btn-danger text-center" ng-click="$ctrl.doLogout()">Logout</button>
    </div>
</div>