<div class="form-group">
    <label class="control-label col-md-2 col-xs-3">Question Type</label>
    <div class="col-md-10 col-xs-9">
        <span class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" ng-class="{'active' : $ctrl.question.type == 'single'}">
                <span class="glyphicon glyphicon-record"></span>
                <input type="radio" class="hidden" name="qTypeOptions"
                       value="single" ng-model="$ctrl.question.type"/>Single
            </label>
            <label class="btn btn-default" ng-class="{'active' : $ctrl.question.type == 'multi'}">
                <span class="glyphicon glyphicon-check"></span>
                <input type="radio" class="hidden" name="qTypeOptions"
                       value="multi" ng-model="$ctrl.question.type"/>Multiple
            </label>
            <label class="btn btn-default" ng-class="{'active' : $ctrl.question.type == 'text'}">
                <span class="glyphicon glyphicon-edit"></span>
                <input type="radio" class="hidden" name="qTypeOptions"
                       value="text" ng-model="$ctrl.question.type"/>Text
            </label>
        </span>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2 col-xs-3">Question text</label>
    <div class="col-md-10 col-xs-9">
        <textarea ng-model="$ctrl.question.text" id="question" class="form-control col-xs-12" rows="3" maxlength="250"></textarea>
    </div>
</div>

<button ng-click="$ctrl.addAnswer()" class="btn btn-primary btn-sm margin-top" title="Add Answer">
    Add Answer
</button>

<div ng-switch="$ctrl.question.type">
    <div ng-switch-when="text" class="form-group">
        <label class="control-label col-md-2 col-xs-3">Correct Answer</label>
        <div class="col-md-10 col-xs-9">
            <textarea ng-model="$ctrl.question.answerText" class="form-control" rows="1"></textarea>
        </div>
    </div>
    <div ng-switch-default class="form-group">
            <label class="control-label col-md-2 col-xs-3">Answers</label>
            <div class="col-md-10 col-xs-9">
                <div ng-repeat="answer in $ctrl.question.answers">
                    <edit-answer question-type="$ctrl.question.type" answer="answer" single-choice="$ctrl.question.singleChoice"></edit-answer>
                </div>
                <div ng-if="$ctrl.question.answers.length == 0">
                    <label class="control-label">There are no answers for this question</label>
                </div>
            </div>
    </div>
</div>