<div ng-if="!$ctrl.loading" class="col-xs-12">
    <div class="col-xs-12">
        <label class="text-left">{{$ctrl.userName}}</label>
        <button class="btn btn-xs btn-info pull-right" title="Info" ng-click="$ctrl.onInfoClick()">
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Info
        </button>
    </div>
    <hr/>
    <quiz-pager current-question-number="currentQuestionNumber" number-of-questions="$ctrl.questions.length"
                read-only="true"></quiz-pager>
    <question-answer-view question="$ctrl.questions[currentQuestionNumber]"></question-answer-view>
    <div class="col-xs-12 text-center">
        <button class="btn btn-md btn-danger text-center" ui-sref="menu">Main Menu</button>
    </div>
</div>