<div>
  <div class="col-xs-2">
	<button ng-click="$ctrl.goTo($ctrl.currentQuestionNumber-1)"
            ng-disabled="$ctrl.isFirstQuestion()" class="btn btn-md btn-primary pull-left">
        Prev
    </button>
  </div>
  <div class="col-xs-8 text-center">
	<h6>Question {{$ctrl.currentQuestionNumber+1}} of {{$ctrl.numberOfQuestions}}</h6>
  </div>
  <div class="col-xs-2">
      <button ng-click="$ctrl.goTo($ctrl.currentQuestionNumber+1)"
              ng-show="!$ctrl.isSubmitVisible()"
              ng-disabled="$ctrl.isLastQuestion()" class="btn btn-md btn-primary pull-right">
          Next
      </button>
      <button ng-click="$ctrl.submitQuiz($ctrl.currentQuestionNumber+1)"
            ng-show="$ctrl.isSubmitVisible()"
            class="btn btn-md btn-primary pull-right">
          Submit
      </button>
  </div>
</div>